In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
path = "./data/ds1_train.csv"
data = pd.read_csv(path)

In [6]:
data.describe()

              x_1         x_2           y
count  800.000000  800.000000  800.000000
mean     3.515825   92.748239    0.500000
std      1.117077  113.841915    0.500313
min     -0.517464    1.403270    0.000000
25%      2.792988   26.244045    0.000000
50%      3.462076   55.325152    0.500000
75%      4.297189  114.647613    1.000000
max      7.017044  922.403554    1.000000

In [7]:
theta = np.zeros(data.shape[1])

In [9]:
print(theta)

[0. 0. 0.]

In [4]:
x = np.array([[1, 1, 1, 1], [2, 2, 2, 2]])

In [5]:
y = np.array([[3],[4],[5],[6]])

In [10]:
x*y.T

array([[ 3,  4,  5,  6],
       [ 6,  8, 10, 12]])